@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;

}


.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #1F1C2C;
}



h2 {
    text-align: center;
    font-size: 55px;
    margin: 14px;
    color: #FCF7F8;
    text-transform: uppercase;
    word-spacing: 7px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gameSpace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: fit-content;
    margin-top: 50px;
    gap: 9px;
    margin-bottom: 20px;
    color: #928DAB;

}

.box {

    width: 130px;
    height: 130px;
    background-color: #928DAB;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    color: #ffffff;
    font-size: 65px;
    font-family: "Waiting for the Sunrise", cursive;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.01);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.newGameBtn {
    background-color: blanchedalmond;
    color: black;
    font-family: monospace;
    border-radius: 32px;
    font-size: 20px;
    border: none;
    margin: 20px;
    padding: 8px 25px;


}

.newGameBtn:hover {
    transform: scale(1.02);
}


.msgContainer {
    position: relative;

}

.message {
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(50%, -50%);
    right: 50%;
    top: 50%;
    z-index: 1000;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    width: 550px;
    height: 250px;
    font-size: 55px;
    border-radius: 18px;
    font-family: "Exo 2", sans-serif;

}

.message-hidden {
    display: none;

}

.cross img {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;

}


@media screen and (max-width: 350px) {
    .box {
        width: 70px;
        height: 70px;
        font-size: 45px;
        font-family: "Waiting for the Sunrise", cursive;

    }

    .gameSpace {
        margin-top: 100px;

    }

    h2 {
        font-size: 40px;
        margin-top: 35px;

    }

    .message {
        width: 260px;
        height: 160px;
        right: 50%;
        top: 50%;
        font-size: 35px;
        font-family: "Exo 2", sans-serif;

    }
}

@media (min-width: 351px) and (max-width: 430px) {
    h2 {
        margin-top: 50px;
        text-transform: capitalize;
    }

    .box {
        width: 90px;
        height: 90px;
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    }

    .message {
        position: fixed;
        width: 260px;
        height: 160px;
        right: 50%;
        top: 50%;
        font-size: 35px;


    }
}

@media (min-width: 450) and (max-width: 1024px) {
    .box {
        width: 100px;
        height: 100px;
        font-size: 60px;
        background-color: red;
        font-family: "Waiting for the Sunrise", cursive;
    }

    .message {
        width: 260px;
        height: 160px;
        right: 20%;
        top: 35%;
        font-size: 35px;
        font-family: "Exo 2", sans-serif;

    }
}