<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Notes App</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 ">
        <a class="text-amber-600 " href="/">Go back to Home page</a>
        <h1 class="text-white mt-10 text-3xl "><%= filename.replace(/\.[^/.]+$/, "") %></h1>
        <p class="text-white mt-2 text-lg"><%= filedata %></p>
    </div>
</body>
</html>